@inherits LayoutComponentBase

<div class="top-row px-4">
    <a href="/authorization" class="btn btn-primary enter-tab-registration">
        Войти <i class="bi bi-box-arrow-in-right"></i>
    </a>
</div>