@inherits LayoutComponentBase

<div class="top-row px-4">
    <a href="/registration" class="btn btn-primary active registration-tab-authorization" aria-current="page">
        <i class="bi bi-door-open"></i> Зарегистрироваться
    </a>
</div>