@inherits LayoutComponentBase

<div class="btn-group top-buttons-authorization">
    <a href="/registration" class="btn btn-primary active registration-tab" aria-current="page">
       <i class="bi bi-door-open"></i> Зарегистрироваться
    </a>
    <a href="/authorization" class="btn btn-primary enter-tab">
        Войти <i class="bi bi-box-arrow-in-right"></i>
    </a>
</div>