.registration-tab-authorization {
    width: 200px !important;
    max-width: 200px;
    height: 40px;
    max-height: 40px;
    text-align: center;
    color: #4340D2 !important;
    background-color: white !important;
    border-color: #4340D2;
    border-width: 1px;
    margin-right: -25px;
    /*margin-top: 5px;*/
}

.registration-tab-authorization:hover {
    color: white !important;
    background-color: #189dde !important;
    border-color: #4340D2;
    border-width: 1px;
}

.registration-tab-authorization:active {
    color: navy !important;
    border-color: #4340D2;
    border-width: 1px;
}