<div class="top-row ps-3 navbar">
    <a href="/">
        <img src="Resources/logo.svg" alt="Logo" height="32" class="d-inline-block align-text-top">
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-services" Match="NavLinkMatch.All">
                <span class="bi bi-grid-1x2-fill" style="font-size: 24px" aria-hidden="true"></span> Мои услуги
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-orders">
                <span class="bi bi-clipboard-check-fill" style="font-size: 24px" aria-hidden="true"></span> Заказы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-reviews">
                <span class="bi bi-chat-right-text-fill" style="font-size: 24px" aria-hidden="true"></span> Отзывы
            </NavLink>
        </div>
    </nav>
</div>