@inherits LayoutComponentBase

<div style="background-color: white; display: flex; justify-content: space-between;">
    <h2 style="padding-left: 30px;"></h2>
    <span style="padding: 10px; padding-right: 23px">
        <TopButtonsForAuthorizedUsers/>
    </span>
</div>