
    <div class="card" style="width: 73rem;">
        <div class="card-body">
            <div class="header-card">
                <h5 class="card-title">Ирина Иванова</h5>
                </div>
                <div/>
            </div>
            <h6 class="card-subtitle mb-2 text-secondary">Фотограф</h6>
    <div class="position-absolute top-0 start-100 translate-middle-x">
    <div class="raiting">
        <i class="bi bi-star-fill" style="color: #ffc107"></i>
        <p class="card-text">5</p>
        <p class="card-text">Отзывы:5</p>
    </div>
    </div>
            <div class="footer-card">
            </div>
        </div>
   

@code {

}
