@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @if (_currentPage.EndsWith("/")
         || _currentPage.EndsWith("/registration")
         || _currentPage.EndsWith("/authorization"))
    {
    }
    else
    {
        <div class="sidebar">
            @if (_currentPage.EndsWith("/executors")
                 || _currentPage.EndsWith("/orders")
                 || _currentPage.EndsWith("/reviews")
                 || _currentPage.EndsWith("/services"))
            {
                <NavMenuForCustomer/>
            }
            @* else if (_currentPage.EndsWith("/executors") *@
            @*          || _currentPage.EndsWith("/orders") *@
            @*          || _currentPage.EndsWith("/reviews") *@
            @*          || _currentPage.EndsWith("/services")) *@
            @* { *@
            @*     <NavMenuForExecutor/> *@
            @* } *@
            @* else if (_currentPage.EndsWith("/executors") *@
            @*          || _currentPage.EndsWith("/orders") *@
            @*          || _currentPage.EndsWith("/reviews") *@
            @*          || _currentPage.EndsWith("/services")) *@
            @* { *@
            @*     <NavMenuForManager/> *@
            @* } *@
        </div>
    }

    <main>
        @if (_currentPage.EndsWith("/registration"))
        {
            <AppBarForRegistrationPage/>
        }
        else if (_currentPage.EndsWith("/authorization"))
        {
            <AppBarForAuthorizationPage/>
        }
        else if (_currentPage.EndsWith("/"))
        {
            <AppBarForNonAuthorizedUsers/>
        }
        else
        {
            <AppBarForAuthorizedUsers/>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private string _currentPage;

    protected override void OnInitialized()
    {
        _currentPage = NavigationManager.Uri;
    }

}