<div class="top-row ps-3 navbar">
    <a href="/">
        <img src="Resources/logo.svg" alt="Logo" height="32" class="d-inline-block align-text-top">
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="main-services" Match="NavLinkMatch.All">
                <span class="bi bi-ui-checks" style="font-size: 24px" aria-hidden="true"></span> Услуги
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="executors">
                <span class="bi bi-people-fill" style="font-size: 24px" aria-hidden="true"></span> Исполнители
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="bi bi-cart-check-fill" style="font-size: 24px" aria-hidden="true"></span> Мои заказы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reviews">
                <span class="bi bi-pen-fill" style="font-size: 24px" aria-hidden="true"></span> Мои отзывы
            </NavLink>
        </div>
    </nav>
</div>

<div class="top-row ps-3 navbar">
    <a href="#">
        <img src="logo.svg" alt="Logo" height="32" class="d-inline-block align-text-top">
    </a>
</div>