<div class="col card-col">
    <div class="card">
        <div class="card-body">
            <div class="header-card">
                <h5 class="card-title">Съемка вашего мероприятия</h5>
                <div class="raiting">
                    <i class="bi bi-star-fill" style="color: #ffc107"></i>
                    <p class="card-text">5</p>
                </div>
            </div>
            <h6 class="card-subtitle mb-2 text-secondary">Ирина Иванова</h6>
            <p class="card-text text-hide">Во время съёмки не буду вас гонять и заставлять кривляться, только советовать как лучше встать и куда смотреть..</p>
            <div class="footer-card">
                <a href="#" class="btn btn-primary">Заказать</a>
                <span class="badge bg-danger" style="font-size: 1rem">12000руб.</span>
            </div>
        </div>
    </div>
</div>

@code {

}

<style>
    .raiting {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .header-card {
         display: flex;
         flex-direction: row;
         gap: 0.5rem;
         justify-content: space-between;
    }
    .footer-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .text-hide {
      height: 3rem; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @@media (min-width: 768px) {
        .row-cols-md-3>* {
            flex: 0 0 auto;
            width: 49.333333%;
        }
    }
    @@media (min-width: 1024px) {
        .row-cols-md-3>* {
            flex: 0 0 auto;
            width: 33.333333%;
        }
    }
</style>