.exit-tab {
    width: 100px !important;
    max-width: 100px;
    height: 40px;
    max-height: 40px;
    text-align: center;
    color: white;
    background-color: #4340D2 !important;
    border-color: #4340D2;
    border-width: 1px;
    margin-right: -25px;
    /*margin-top: 5px;*/
}

.exit-tab:hover {
    color: #ffffff !important;
    background-color: white !important;
    border-color: #4340D2;
    border-width: 1px;
}

.exit-tab:active {
    color: navy !important;
    border-color: #4340D2;
    border-width: 1px;
}