.registration-logo-container {
    position: relative;
    height: 10vh;
}

.registration-logo {
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.registration-title {
    font-size: 40px;
    text-shadow: -2px -2px 55px #e600ff;
    text-align: center;
    font-weight: bold;
}

.registration-tabs {
    display: flex;
    justify-content: center;
}

.сustomer-tab {
    text-align: center;
    background: #4340D2;
    color: white;
}

.сustomer-tab:hover {
    color: white;
}

.сustomer-tab:active {
    color: white;
}

.executor-tab {
    text-align: center;
    background: white;
    color: #4340D2;
}

.executor-tab:hover {
    color: #4340D2;
}

.executor-tab:active {
    color: #4340D2;
}

.registration-background {
    background-image: url("Resources/registration-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-for-registration-page {
    width: 482px;
    height: 425px;
    background: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    border-radius: 5px;
}

.registration-button {
    background: #4340D2;
}
