@page "/executors"
@rendermode InteractiveServer

<PageTitle>Исполнители</PageTitle>

<h2>Исполнители</h2>
<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Тип услуги</option>
            <option value="1">Фотографы</option>
            <option value="2">Видеографы</option>
            <option value="3">Стилисты</option>
        </select>
    </div>
</div>