@page "/orders"
@inject NavigationManager navManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Мои заказы</PageTitle>

<h2>Мои заказы</h2>

<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Статус заказа</option>
            <option value="1">Новый</option>
            <option value="2">В работе</option>
            <option value="3">Завершён</option>
            <option value="4">Отменён</option>
        </select>
    </div>
    <div class="col-auto">
        <InputDate class="form-control me-2" @bind-Value="@selectedDate"/>
    </div>
</div>

<div class="mt-4">
    <OrderCardGeneral SelectedDate="@selectedDate"/>
</div>

@code {
    DateTime? selectedDate { get; set; }
}
