<div class="table-responsive"> 
<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Дата создания</th>
            <th scope="col">ФИО отправителя</th>
            <th scope="col">ФИО обвиняемого</th>
            <th scorp="col">Кому</th>
            <th scorp="col">Сообщение</th>
            <th scorp="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>23.02.2024</td>
            <td>Иванов Иван</td>
            <td>Светлана Р</td>
            <td>Исполнителю</td>
            <td>Не сделал услугу</td>
            <td>Проверить</td>
        </tr>
        <tr>
             <th scope="row">2</th>
            <td>23.02.2024</td>
            <td>Иванов Иван</td>
            <td>Петров Петр</td>
            <td>Заказчику</td>
            <td>Заказчик не пришел</td>
            <td>Проверено</td
        </tr>
        <tr>
             <th scope="row">1</th>
            <td>23.02.2024</td>
            <td>Ирина Т</td>
            <td>Роберт Минин</td>
            <td>Исполнителю</td>
            <td>Услуга не оказана</td>
            <td>Проверить</td
        </tr>
    </tbody>
</table>
</div>

@code {

}
