@rendermode InteractiveServer
<div class="container-md">
    <div class="card t-bg">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <table class="table table-sm fs-9 mb-0">
                            <thead>
                            <tr>
                                <th class="tb-item p-1 text-nowrap">ФИО</th>
                                <th class="tb-item p-1 text-nowrap">Электронная почта</th>
                                <th class="tb-item p-1 text-nowrap">Статус</th>

                            </tr>
                            </thead>
                            <tbody class="list">

                            @if (true)
                            {
                                @foreach (var user in _users)
                                {
                                    <tr>
                                        <th>
                                            <p class="tb-item-1 mb-1" style="white-space: normal!important;">@user.Name</p>
                                        </th>

                                        <td>
                                            <p class="tb-item-1 mb-1" style="white-space: normal!important;">@user.Mail</p>
                                        </td>

                                        <td>
                                            @if (user.IsBlocked == false)
                                            {
                                                <p class="tb-item-1 mb-1" style="color: #4CAF50">Активный</p>
                                            }
                                            else
                                            {
                                                <p class="tb-item-1 mb-1" style="color: #DC3545">Заблокированный</p>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <td colspan="12">
                                    <p class="text">Список заказчиков пуст</p>
                                </td>
                            }

                            </tbody>
                        </table >
                    </div >
                </div>
            </div>
        </div>
    </div >
</div>

@code {
    private List<UsersOutputModel> _users;
    private readonly IUserClient _userClient = new UserClient();
    
    protected override void OnInitialized()
    {
        _users = _userClient.GetAllCustomers();
    }

}

<style>
    .table{
    overflow: auto;
    table-layout: auto !important;
    }
</style>