@page "/my-orders"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Заказы</PageTitle>

<h2>Заказы</h2>

<div class="mt-4">
    <MyOrdersTable/>
</div>


