@page "/my-reviews"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Отзывы</PageTitle>

<h2>Отзывы</h2>

<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Статус отзыва</option>
            <option value="1">Новый</option>
            <option value="2">В работе</option>
            <option value="3">Опубликован</option>
            <option value="4">Отменён</option>
        </select>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3 mt-2">

</div>

@foreach (var review in Reviews)
{
    <div>
        <h3>@review.Name</h3>
        <p>@review.Text</p>
        <p>
            Оценка:
            @for (int i = 1; i <= 5; i++)
            {
                <span class="@(i <= review.Rating ? "star-filled" : "star-empty")">&#9733;</span>
            }
        </p>
    </div>
}


@code {

    List<Review> Reviews = new List<Review>
    {
        new Review { Name = "Съемка вашего мероприятия", Text = "Спасибо, мне понравилось, всем рекомендую!", Rating = 5 },
        new Review { Name = "Фотограф", Text = "Фотограф был мастером своего дела", Rating = 5 },
        new Review { Name = "Видеограф", Text = "Спасибо за качественную работу!", Rating = 5 }
    };

    public class Review
    {
        public string Name { get; set; }
        public string Text { get; set; }
        public int Rating { get; set; }
    }

}