@page "/my-services"
@rendermode InteractiveServer

<PageTitle>Мои услуги</PageTitle>
<div class="row g-3">
    <h2>Мои услуги</h2>
    <button type="button" class="btn"><i class="bi bi-plus"></i> Добавить услугу</button>
</div>


<div class="mt-4">
    @foreach (var service in _service)
    {
        <MyServiceCard Id="@service.Id"></MyServiceCard>
    }

</div>

@code
{
    [Parameter] public int Id { get; set; } = 1;

    private List<ServiceOutputModel> _service = null!;
    private IServiceClient _serviceClient;

    public MyServicesPage()
    {
        _serviceClient = new ServiceMock();
    }

    protected override void OnInitialized()
    {
        _service = _serviceClient.GetAllServices();
    }
}