@using Microsoft.AspNetCore.Components
@using PhotoService.DAL.DTO
@using System.Diagnostics.CodeAnalysis

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #4340D2">
    <i class="bi bi-plus"></i>
    Добавить
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление услуги</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group mb-3">
                    <label>Заголовок</label>
                    <input class="form-control" @bind="_serviceInput.Title" placeholder="Заголовк услуги"/>
                </div>

                <div class="form-group mb-3">
                    <label>Цена(в руб.)</label>
                    <input class="form-control" @bind="_serviceInput.Price" placeholder="Укажите цену"/>
                </div>

                <div class="form-group mb-3">
                    <label>Тип</label>
                    <select class="form-select" aria-label="Default select example" @bind="_serviceInput.Type">
                        @foreach (var type in _types)
                        {
                            <option value="@type.Id">@type.Title</option>
                        }
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label>Описание</label>
                    <textarea class="form-control" @bind="_serviceInput.Description" placeholder="Опишите вашу услугу"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button @onclick="AddService" class="btn btn-primary">Добавить услугу</button>
            </div>
        </div>
    </div>
    @if (_serviceAddedSuccessfully)
    {
        <div class="d-flex justify-content-center mt-2">
            <div class="alert alert-success w-25" role="alert">
                    Услуга успешно добавлена!
                </div>
        </div>
    }
</div>


@code
{
    private ServiceInputModel _serviceInput = new();
    private IServiceClient _serviceClient = new ServiceClient();

    private List<TypeOutputModel> _types = new();
    private ITypeClient? _typeClient;
    
    private bool _serviceAddedSuccessfully = false;

    protected override void OnInitialized()
    {
        _typeClient = new TypeClient();
        _types = _typeClient.GetAllTypes();
    }

    private async Task AddService()
    {
        _serviceClient.AddService(_serviceInput);
        _serviceInput = new ServiceInputModel();
        _serviceAddedSuccessfully = true;
        
        await Task.Delay(5000);
        
        _serviceAddedSuccessfully = false;
        
        StateHasChanged();
    }
}