@inherits LayoutComponentBase

<div style="background-color: white; display: flex; justify-content: flex-end; align-items: center;">
    <h2 style="font-size: 20px; font-style: italic; margin-right: -25px">Уже зарегистрированы? Нажмите --></h2>
    <span style="padding: 10px; padding-right: 23px">
        <TopButtonsForRegistration/>
    </span>
</div>