@inherits LayoutComponentBase

@* <div style="background-color: white; display: flex; justify-content: center; align-items: center;"> *@
@*     <div> *@
@*         <a href="/"> *@
@*             <img style="height: 50px;" src="Resources/logo-photoservice.png"> *@
@*         </a> *@
@*     </div> *@
@*     <div style="padding: 10px; padding-right: 23px;"> *@
@*         <TopButtonsForNonAuthorizedUsers/> *@
@*     </div> *@
@* </div> *@

<div style="background-color: white; display: flex; justify-content: space-between; align-items: center; padding: 10px;">
    <div style="flex-grow: 1; text-align: center; padding-left: 300px;">
        <a href="/">
            <img style="height: 40px;" src="Resources/logo-photoservice.png">
        </a>
    </div>
    <div style="padding-right: 20px;">
        <TopButtonsForNonAuthorizedUsers/>
    </div>
</div>
