<div class="card my-3">
    <div class="card-body">
        <div class="header-card">
            <h5 class="card-title">Ирина Иванова</h5>
            <div class="d-flex flex-column justify-content-end">
                <div class="raiting">
                    <i class="bi bi-star-fill" style="color: #ffc107"></i>
                    <p class="card-text">5</p>
                </div>
                <span class="badge bg-secondary">Отзывы: 5</span>
            </div>

        </div>

        <p class="card-text">Фотограф</p>
    </div>
</div>


@code {

}