@rendermode InteractiveServer
@using IServiceClient = PhotoService.BLL.IClients.IServiceClient
@using PhotoService.BLL.Clients
@foreach (var s in _service)
{
<div class="card my-3">
    <div class="card-body">
        <div class="header-card">
            <h5 class="card-title">@s.ExecutorName</h5>
            <div class="d-flex flex-column justify-content-end">
                <div class="raiting">
                    <i class="bi bi-star-fill" style="color: #ffc107"></i>
                    <p class="card-text">5</p>
                </div>
                <span class="badge bg-secondary">Отзывы: 5</span>
            </div>

        </div>

        <p class="card-text">@s.TypeName</p>
    </div>
</div>
}


    @code {
    private List<ServiceOutputModel> _service = null!;
    private IServiceClient _serviceClient = new ServiceClient();

    protected override void OnInitialized()
    {
        _service = _serviceClient.GetAllServices();
    }


}