@rendermode InteractiveServer

@foreach (var s in _service)
{
    @if (s.IsDeleted == false)
    {
        <div class="col card-col mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h5 class="card-title">@s.Title</h5>
                        <p class="price">@s.Price</p>
                    </div>
                    <p class="card-text text-hide">@s.Description</p>
                    <div class="footer-card">
                        <small class="text-body-secondary" style="color: #5c636a">@s.TypeName</small>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code
{
    [Parameter] public int Id { get; set; }

    private List<ServiceOutputModel> _service = null;
    private IServiceClient _serviceClient = new ServiceClient();

    protected override void OnInitialized()
    {
        _service = _serviceClient.GetAllServicesForExecutor(Id);
    }

}

<style>
    .price {
        font-size: 1rem;
        font-weight: 600;
        color: #56BA18;
        padding: 0;
        }
</style>