<div class="col card-col">
    <div class="card">
        <div class="card-body">
            <div class="header-card">
                <h5 class="card-title">@_name</h5>
            </div>
            <h6 class="card-subtitle mb-2 text-secondary">@_serviceType</h6>
            <p class="card-text text-hide">@_description</p>
            <div class="footer-card">
                <a href="#" class="btn btn-outline-primary">Удалить</a>
                <a class="btn btn-outline-secondary">Редактировать</a>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public int Id
    {
        get { return _id; }
        set
        {
            _id = value;
            IServiceClient serviceRepositories = new ServiceMock();
            var s = serviceRepositories.GetServiceById(value);
            _name = s.Name;
            _description = s.Description;
            _serviceType = s.ServiceType;
            _executorName = s.ExecutorName;
            _rating = s.Rating;
            _cost = s.Cost;
        }
    }

    private int _id;
    private string? _name;
    private string? _description;
    private string? _serviceType;
    private string? _executorName;
    private int _rating;
    private int _cost;
}