.order-card {
    margin-bottom: 25px;
}

.order-header-new {
    background-color: rgb(24 64 224 / 50%);
}

.order-date-new {
    color: white;
}

.order-status-new {
    background-color: rgb(24 64 224);
}

.order-header-inprogress {
    background-color: rgba(255 175 0 / 50%);
}

.order-date-inprogress {
    color: black;
}

.order-status-inprogress {
    background-color: rgb(255 175 0);
}

.order-header-completed {
    background-color: rgba(81 205 67 / 50%);
}

.order-date-completed {
    color: black;
}

.order-status-completed {
    background-color: rgb(81 205 67);
}

.order-header-canceled {
    background-color: rgba(220, 53, 69, 0.5);
}

.order-date-canceled {
    color: white;
}

.order-status-canceled {
    background-color: rgb(220 53 69);
}

.order-service {
    font-weight: bold;
    color: #0d6efd;
    text-decoration: none;
    font-size: x-large;
}

.order-executor {
    font-style: italic;
    color: #3264a8;
    text-decoration: none;
}

.order-price{
    color: white !important;
    background-color: rgb(255 131 43) !important;
    border-color: #4340D2;
    border-width: 1px;
    border-radius: 15px;
}

.order-price-done{
    color: white !important;
    background-color: rgba(255, 131, 43, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
    border-radius: 15px;
}

.order-buttons a {
    color: white;
    text-decoration: none;
}

.order-button-cansel {
    color: white !important;
    background-color: rgb(220 53 69) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-edit {
    color: white !important;
    background-color: rgb(82 164 187) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-complete {
    color: white !important;
    background-color: #4340D2 !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-leavefeedback {
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-cansel:hover {
    color: white !important;
    background-color: rgba(220, 53, 69, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-edit:hover {
    color: white !important;
    background-color: rgba(82, 164, 187, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-complete:hover {
    color: white !important;
    background-color: rgba(67, 64, 210, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-leavefeedback:hover {
    color: white !important;
    background-color: rgba(27, 110, 194, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-cansel:active {
    color: white !important;
    background-color: rgba(220, 53, 69, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-edit:active {
    color: white !important;
    background-color: rgba(82, 164, 187, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-complete:active {
    color: white !important;
    background-color: rgba(67, 64, 210, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.order-button-leavefeedback:active {
    color: white !important;
    background-color: rgba(27, 110, 194, 0.5) !important;
    border-color: #4340D2;
    border-width: 1px;
}

.cancel-reason{
    color: rgb(220 53 69 / 75%);
    /*width: 300px !important;*/
    /*max-width: 300px;*/
    display: flex;
    justify-content: center;
}