
.header-card {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.footer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-hide {
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

@media (min-width: 768px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 49.333333%;
    }
}
@media (min-width: 1024px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.333333%;
    }
}