@page "/"
@rendermode InteractiveServer

<PageTitle>MainPage</PageTitle>

<h2>Услуги</h2>

@* <h2>Услуги <span style="display: inline-block;"><TopButtonsForNonAuthorizedUsers/></span></h2> *@

@* <div style="margin-top: -10px; display: flex; justify-content: space-between;"> *@
@*     <h2 style="margin-right: auto;">Услуги</h2> *@
@*     <span style="margin-left: auto;"><TopButtonsForNonAuthorizedUsers/></span> *@
@* </div> *@

<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Все</option>
            <option value="1">Фотографы</option>
            <option value="2">Видеографы</option>
            <option value="3">Стилисты</option>
        </select>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
    <ServiceCardLayout/>
    <ServiceCardLayout/>
</div>

