@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider

<h2>Услуги</h2>

<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Все</option>
            <option value="1">Фотограф</option>
            <option value="2">Видеограф</option>
            <option value="3">Ретушер</option>
            <option value="4">Дизайнер</option>
            <option value="5">Модель</option>
            <option value="6">Визажист</option>
            <option value="7">Стилист</option>
            <option value="8">Предоставление красивых мест для съёмки</option>
            <option value="9">Предоставление специально оборудованных помещений для проведения съёмки</option>
            <option value="10">Организация съёмочного процесса</option>
        </select>
    </div>
</div>

@if (true)
{
    <ServiceCardForMainPage/>
    <ServiceCardForMainPage/>
    <ServiceCardForMainPage/>
    <ServiceCardForMainPage/>
    <ServiceCardForMainPage/>
}
else
{
    <p style="display: flex; justify-content: center; align-items: center; height: 10rem">По выбранному метоположению предложений услуг не найдено</p>
}