.registration-executor-logo-container {
    padding-top: 100px;
    position: relative;
}

.registration-executor-logo {
    padding-top: 10px;
    position: absolute;
    top: 35%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.registration-executor-title {
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-shadow: -2px -2px 55px #dc35b4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255 255 255 / 50%);
}

.registration-executor-tabs {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #4340D2;
    border-width: 1px;
}

.сustomer-executor-tab {
    width: 150px !important;
    max-width: 150px;
    text-align: center;
    color: #4340D2;
    background-color: white !important;
    border-color: #4340D2;
    border-width: 1px;
}

.сustomer-executor-tab:hover {
    color: white !important;
    background-color: #4340D2 !important;
    border-color: #4340D2;
    border-width: 1px;
}

.сustomer-executor-tab:active {
    color: navy !important;
    border-color: #4340D2;
    border-width: 1px;
}

.executor-executor-tab {
    width: 150px !important;
    max-width: 150px;
    text-align: center;
    color: white;
    background-color: #4340D2 !important;
    border-color: #4340D2;
    border-width: 1px;
}

.executor-executor-tab:hover {
    color: #4340D2 !important;
    background-color: white !important;
    border-color: #4340D2;
    border-width: 1px;
}

.executor-executor-tab:active {
    color: navy !important;
    border-color: #4340D2;
    border-width: 1px;
}

.container-for-registration-executor-page {
    width: 800px;
    height: 975px;
    background: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 250px;
}

.registration-executor-button {
    background: #4340D2;
    border-color: #4340D2;
    border-width: 1px;
}

.registration-executor-button:hover {
    background-color: white !important;
    color: #4340D2;
    border-color: #4340D2;
    border-width: 1px;
}

.registration-executor-button:active {
    background-color: white !important;
    color: #4340D2;
    border-color: #4340D2;
    border-width: 1px;
}

.registration-form {
    padding-top: 15px;
}