@page "/customers"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@attribute [StreamRendering]

@* <button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button> *@
<AuthorizeView Roles="Manager">
    <Authorized>
        <ListCustomerspage/>
        Вы авторизовались как менеджер.
        @* <p> Привет, @claims.Where(c=>c.Type == nameof(LoginModel))</p> *@
        @* @if (claims.Count() > 0) *@
        @* { *@
        @*     <ul> *@
        @*         @foreach (var claim in claims) *@
        @*         { *@
        @*             <li>@claim.Type: @claim.Value</li> *@
        @*         } *@
        @*     </ul> *@
        @* } *@
    </Authorized>
    <NotAuthorized>
        <MainPage/>
        Ошибка. Проверьте актуальность вводимых данных.
    </NotAuthorized>
</AuthorizeView>


<PageTitle>Список заказчиков</PageTitle>

<h2>Список заказчиков</h2>

<div class="row g-3">
    <div class="col-auto">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Тип услуги</option>
            <option value="1">Фотографы</option>
            <option value="2">Видеографы</option>
            <option value="3">Стилисты</option>
        </select>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
    <ExecutorCard />
    <ExecutorCard />
    <ExecutorCard />
    <ExecutorCard />
</div>


@code {
    [CascadingParameter] 
    public Task<AuthenticationState> State { get; set; }

    private List<Claim> claims = new List<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await State;
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims.ToList();
        }
    }
}