@page "/complains"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Жалобы</PageTitle>

<h2>Жалобы</h2>
    <div class="mt-4">
        <ComplainsManagerTable/>
    </div>
