@page "/list-executors"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Список исполнителей</PageTitle>
<h2>Список исполнителей</h2>
<ListExecutorsTable/>


